.body {
  text-align: left;
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

.body .b_header {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.body .b_header span {
  font-size: 21px;
}

.body .b_img {
  display: inline-flex;
  width: 60px;
  height: 60px;
  align-items: center;
}

.body .b_content {

}

.body div {
  margin-top: 10px;
  min-height: 20px;
}

button {
  margin-top: 20px;
}